.heading {
    text-align: center;
    font-family: "Poppins";
    font-size: 64px;
    font-weight: 800;
    letter-spacing: -3.873px;   
     background: #ff00c7;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 45px;
}