.heading{
    text-align: center;
    font-family: "Poppins";
    font-size: 64px;
    font-weight: 800;
    text-align: center;
    letter-spacing: -1.823px;
    background: #ff00c7;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 50px 0px;
}