.image_container {
  position: relative;
  height: 900px;
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
}
.icon_image_container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  height: 300px;
  width: 100%;
  max-width: 400px;
  aspect-ratio: 16/9;
  overflow: hidden;
}

.marqueeContainer {
  position: absolute;
  overflow: hidden; /* Hide overflow to keep the marquee contained */
  width: 100%; /* Full width */
  height: 100px; /* Set the height to match the images */
  transform: rotate(4deg);
  bottom: 6.5rem;
  z-index: 1;
}

.marqueeTrack {
  display: flex;
  gap: 10px; /* Space between images */
  animation: scrollMarquee 15s linear infinite; /* Continuous scrolling */
}

.marqueeImageWrapper {
  flex: 0 0 auto; /* Prevent images from shrinking or growing */
  position: relative; /* Required for Next.js Image with fill */
}

/* Animation */
@keyframes scrollMarquee {
  0% {
    transform: translateX(0); /* Start at the beginning */
  }
  100% {
    transform: translateX(-100%); /* Move to the end */
  }
}

/* Pause on hover */
.marqueeContainer:hover .marqueeTrack {
  animation-play-state: paused;
}

.marqueeContainer2 {
  width: 100%;
  overflow: hidden; /* Ensures the content outside the container is hidden */
  // height: 100px; /* Adjust height as needed */

  position: absolute;
  transform: rotate(-4deg);
  bottom: 6.5rem;
  z-index: 1;

  background: linear-gradient(
    271deg,
    #004ab3 2.31%,
    #ee00c0 26.19%,
    rgba(255, 192, 0, 0) 75.39%
  );
}
.marqueeContainer2:hover .marqueeTrack2 {
  animation-play-state: paused;
}

.marqueeTrack2 {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem; /* Spacing between text and symbols */
  white-space: nowrap; /* Prevents text from wrapping */
  animation: marquee 15s linear infinite; /* Adjust speed with duration */
}

.marqueeSymbol {
  font-size: 1.5rem; /* Match the size of the text */
  color: white;
  margin: 0;
}

/* Marquee Animation */
@keyframes marquee {
  0% {
    transform: translateX(0); /* Start at the beginning */
  }
  100% {
    transform: translateX(-100%); /* Move to the end */
  }
}

.marqueeText {
  color: #fff;
  text-align: center;
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.75px;
  margin: 0px 20px;
  padding: 5px 0px;
}

.playButton {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}


// .playButton:hover{
//   box-shadow: 2px 1000px 1px #040731 inset;
//   transform: translate(-50%, -50%);

// }

// .playButton:active{
//   transform: translateY(10px);
// }

.main_container {
  position: relative;
  // bottom: 8rem;
  // overflow: hidden;
}

.user_image {
  width: 1.865vw;
  height: 1.865vw;
  border-radius: 50%;
  margin: 0 auto 0.521vw;
}

.user_image img {
  width: 100%;
  object-fit: cover;
}

.user_text .userName {
  font-size: 0.677vw;
  font-weight: 600;
  color: #fff;
}

.yellowTxtL {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 1.818vw;
  line-height: 2.727vw;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  background: linear-gradient(180deg, #fbc400 0%, #feffb8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.userBox {
  width: 100%;
  max-width: calc(33.33% - 1.042vw);
  text-align: center;
}

.userBar {
  position: relative;
  width: 100%;
  height: 5.99vw;
  border-radius: 1.042vw;
}
.ts-bottom-users .userBox:first-child .userBar {
  background: var(
    --gradient-g-16,
    linear-gradient(180deg, #00ffd1 0%, #1153b5 100%)
  );
}
.ts-bottom-users .userBox:nth-child(2) .userBar {
  height: 8.073vw;
  background: var(
    --gradient-g-4,
    linear-gradient(
      151deg,
      #ffd427 0%,
      #c22ef6 43.75%,
      #6147ff 75%,
      #497cff 100%
    )
  );
}
.ts-bottom-users .userBox:nth-child(3) .userBar {
  background: var(
    --gradient-g-12,
    linear-gradient(273deg, #07baf2 0%, #4407f2 100%)
  );
}

.maticNumber {
  position: absolute;
  left: 50%;
  bottom: 0.781vw;
  transform: translateX(-50%);
  width: 100%;
  max-width: 4.427vw;
  border-radius: 0.365vw;
  background: rgba(217, 217, 217, 0.4);
  backdrop-filter: blur(32.26vw);
  display: flex;
  align-items: center;
  gap: 0.417vw;
  justify-content: center;
  padding: 0.156vw 0.781vw;
}

.maticNumber img {
  max-width: 1.042vw;
}

.maticNumber p {
  font-size: 0.833vw;
  font-weight: 600;
  color: #fff;
  margin: 0;
}

.top_participant {
  display: flex;
}

.userBar {
  background: var(
    --gradient-g-16,
    linear-gradient(180deg, #00ffd1 0%, #1153b5 100%)
  );
}
