.container {
  height: '100vh';
  width: '100vh';
  left: 0;
  top: 0;
}
.icon {
  position: absolute;
  top: 3vh;
  right: -20;
}
.icon1 {
  position: absolute;
  top: 7vh;
  left: -40;
}
.icon2 {
  position: absolute;
  top: 40%;
  left: 20%;
}
.icon3 {
  position: absolute;
  top: 50%;
  right: 20%;
}
.icon4 {
  position: absolute;
  top: 70%;
  left: -60;
}
