.container {
  /* position: fixed; */

  width: 100%;
  min-height: 100vh;
  background-image: url('https://assets.gamingarcade.io/Assets/Gameplay.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  //   position: absolute;
}
.modal {
  background: linear-gradient(188.01deg, #0095ff52 0.73%, #c9006d63 94.65%);
  box-shadow: 0vw 0.485vw 0.97vw rgba(27, 27, 27, 0.3);
  backdrop-filter: blur(2.424vw);
  border-radius: 1.818vw;
  padding: 1.818vw 0 3.03vw;
  border: 0.121vw solid #ffc700;
  width: 40%;
  height: 33.333vw;
}
.container .error-back.error-sec {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  min-height: 50vh;
  transform: translateY(0);
  padding-top: 0;
}
.loadingContainer {
  margin-bottom: 3.636vw;
  margin-top: 2vw;
  text-align: center;
}
.loadingContainer img {
  animation-name: round;
  animation-duration: 4s;
  animation: animName 2s linear infinite;
}

@keyframes animName {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.title h2 {
  font-style: normal;
  font-weight: 800;
  font-size: 1.518vw !important;
  line-height: 148%;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: 15% !important;
  margin-bottom: 0 !important;
  word-break: break-all;
}
.icon {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}
.icon img {
  width: 30%;
}
