
.button_container{
    width: 100%;

}
.button{
    width: 100%;
    max-width: 193px;
    border-radius:52.36px;
    background-color: rgba(53, 53, 160, 0.444);
    padding: 1rem;
    color:#fff;
    font-size: 14px;
}