.main_container {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
}

.gameCard_container {
  width: 100%;
  max-width: 466.66px;
  max-height: 396.5px;
  border-radius: 10px;
  border: 1px solid #001cae;
  background: #13131e;
  box-shadow: inset 0 0 18.744px 0 rgba(3, 29, 255, 0.5);
  padding: 15px;
  position: relative;
}

.image_container {
  width: 100%;
  height: 200px;
  // max-width: 433px;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.imageContainer {
  display: flex;
  border-bottom: 1px solid #c4c4c4;
  overflow: hidden;
  position: relative;
  aspect-ratio: 16 / 9;
  border-radius: 11.5px 11.5px 0 0;
  justify-content: flex-end;
  align-items: center;

  @media (max-width: 769px) {
    aspect-ratio: 70 / 45;
  }

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.image_container > .gameIon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100px;
  height: 43px;
  object-fit: cover;
}

.tournament_headers {
  color: white;
  margin-top: 10px;
}
.card_upper_section {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
  width: 100%;
}

.rewards_container {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gold;
  border-bottom-right-radius: 15px;
}

.reward {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.tournament_details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0rem 1rem;
  span {
    display: flex;
    flex-direction: column;
    color: #fff;
  }
}

.tournamentCardPast__topContent {
  display: flex;
  background: #1c212e;
  height: 75px;
  padding-left: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: -6px;
}

.tournamentCardPast__tourEnded {
  width: 50%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.tournamentCardPast__tourEnded > p {
  color: #fff;
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 500;
  margin-top: 5px;
}
.tournamentCardPast__reward {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffd700;
  border-bottom-right-radius: 15px;
}

.tournamentCardPast__reward > p {
  color: #000;
  text-align: center;
  font-family: "Poppins";
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -1.012px;
  margin: 0px 10px;
}

.tournamentCardPast__reward > img:first-child {
  height: 100px;
  width: auto;
  margin-left: -60px;
}

.tournamentCardPast__reward > img:last-child {
  height: 20px;
  width: auto;
}
