* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: auto; /* Ensure native behavior isn't overridden */
  }

  
  a {
    color: inherit;
    text-decoration: none;
  }