.signInModal {
  position: fixed;
  /* bottom: 0; */
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  /* width: 100%; */
  /* max-width: 600px; */
  /* background-color: white; */
  /* padding: 20px; */
  border-radius: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  /* transition: opacity 0.3s ease, transform 0.3s ease; */
  transition: all 0.3s ease;

  /* background-image: url("https://assets.gamingarcade.io/Assets/game-stage-mbl.webp");
  background-repeat: no-repeat;
  background-size: cover; */
  background-image: url("https://assets.gamingarcade.io/Assets/modalWebBg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background: pink; */
}

.signInModal__content {
  /* border-radius: 30px 30px 0px 0px;
  max-width: 100%;
  background: rgba(0, 0, 3, 0.781);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 ); */

  background: rgba(255, 255, 255, 0.047);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.081);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 30px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  max-width: 100%;
  padding: 10px;
}

.signInModal__content > hr {
  margin-left: 20px;
  margin-right: 20px;
}

.signInModal__content > p {
  color: black;
}

.signInModal__content > h3 {
  color: #FFF;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.signInModal__content > h3 > span {
  color: #4F7DFF;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  text-decoration-line: underline;
  cursor: pointer;
}

.signInModal__contentConnectBtn {
  width: 100%;
  text-align: center;
}

.signInModal__contentClose > span {
  /* color: #aaaaaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer; */
}

.signInModal__content > span:hover,
.signInModal__content > span:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.signInModal__contentClose {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 0px 20px;
}

.signInModal__contentClose > p {
  color: #FFF;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.442px;
  flex: 1;
  text-align: center;
}

.signInModal__contentClose > span {
  font-size: 26px;
  cursor: pointer;
}

.signInModal__contentEmail {
  padding: 0px 20px 0px 20px;
}

.signInModal__contentEmail > p {
  color: #CDCDCD;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 400;
}

.signInModal__contentEmailForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;

}

.signInModal__contentEmailForm > input {
  border-radius: 153.832px;
  border: 0.5px solid #FFF;
  background: rgba(255, 255, 255, 0.08);  
  /* backdrop-filter: blur(23.43900489807129px);   */
  width: 100%;
  padding: 10px 20px;
  color: white;
  margin-top: 15px;
  outline: none;
} 

.signInModal__contentEmailForm > p {
  color: #CDCDCD;
  text-align: right;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  width: 100%;
  margin-top: 15px;
  margin-left: -10px;
  cursor: pointer;
}

.signInModal__contentEmailFormButton {
  margin-top: 15px;
  width: 100%;
  display: flex;
}

.signInModal__contentOption {
  display: flex;
  align-items: center;
  padding: 10px 20px 20px 20px;
}

.signInModal__contentOption > div {
  /* width: 174.611px; */
  width: 100%;
  height: 0.962px;
  background: #94A3B8;
}

.signInModal__contentOption > p {
  color: #FFF;
  font-family: "Inter";
  font-size: 14px;
  font-weight: 600;
  margin: 0px 15px;
}

.signInModal__contentSocials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 15px;
}

.signInModal__contentSocials > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 100px;
  border: 1px solid white;
  cursor: pointer;
}

.error {
  /* background: pink; */
  color: red;
  width: 100%;
  font-size: 12px;
  margin-left: 20px;
  margin-top: 2px;
}