.gamesContainer {
  position: relative;
}
.moreGameHeading {
  display: flex;
  flex-direction: row;
}
.moreGameHeading h4 {
  font-style: normal;
  font-weight: 900;
  font-size: 2.083vw;
  line-height: 108.02%;
  text-align: left;
  letter-spacing: -0.03em;
  color: #fff !important;
  height: auto;
  position: relative;
  margin-top: 10px;
  margin-bottom: 20px;
}

.moreText {
  font-weight: 500;
  font-size: 2.083vw;
  line-height: 108.02%;
  text-align: left;
  letter-spacing: -0.03em;
  color: #fff !important;
  height: auto;
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  background: linear-gradient(90deg, #ff00c7 66.73%, #27e2ee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.games {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  //   flex: 0 0 19.34vw;
  max-width: 16.34vw;
  //   margin-left: 2vw;
}
.game{
  position: relative;
  height: 3.5vw;
  width: 3.5vw;
  cursor: pointer;
  margin: 5px;
}


@media (max-width: 991px) {
  .moreGameHeading {
    display: flex;
    justify-content: center;
  }

  .moreGameHeading h4 {
    font-family: Inter;
    font-size: 26px;
    font-weight: 900;
    letter-spacing: -0.849px;

    font-style: normal;
    font-weight: 900;
    line-height: 108.02%;
    text-align: left;
    letter-spacing: -0.03em;
    color: #fff;
    height: auto;
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .games {
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 100%;
  }

  .game {
    position: relative;
    height: 100px;
    width: 100px;
    cursor: pointer;
    margin: 5px;
  }
}
