.hz_linear_button {
  cursor: pointer;
  border-radius: 100rem;
  padding: 14px 20px;
  color: #fff;
  border: 2px solid transparent;
  background-image: linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0)), linear-gradient(101deg, #0057ff, #9e00ff, #ffe600, #00e0ff);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: inset 2px 1000px 1px #14185d;
  background-size: auto;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  overflow: hidden !important;
  position: relative;
  text-align: center;
  // &:after {
  //   background: #fff;
  //   content: "";
  //   height: 155px;
  //   left: -75px;
  //   opacity: 0.2;
  //   position: absolute;
  //   top: -50px;
  //   transform: rotate(35deg);
  //   transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  //   width: 50px;
  //   z-index: -10;
  //   animation: slide 2s infinite; // Add animation
  // }
}

// .hz_linear_button:hover {
//   background: linear-gradient(90deg, #004c9a, #0056b3);
//   border-color: #0056b3;
// }

.hz_linear_button img {
  display: inline-block;
  margin-right: 8px;
}

.hz_linear_button span {
  margin: 0;
}

.hz_linear_button .new-icon {
  width: 100%;
  height: 16px;
  margin-bottom: -5px;
  margin-left: 8px;
}

.hz_linear_button.disabled {
  background: #ccc; /* Disabled background */
  border-color: #ccc;
  color: #666;
  cursor: not-allowed;
  pointer-events: none;
}

.btn_effect {
  border: 1px solid;
  overflow: hidden;
  position: relative;
  width: 100%; 
  // max-width: 300px;
  span {
    z-index: 20;
  }

  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
    animation: slide 2s infinite; // Add animation
  }
}

// Define the animation keyframes
@keyframes slide {
  0% {
    left: -75px;
  }
  100% {
    left: 120%;
  }
}
