
// Colors
$red: #E1332D;
$white: #fff;




// Main wrap
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

// Button wrap
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // padding: 1em;
  text-align: center;

  @media (min-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

// Default button
.btn {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;

  // @media (min-width: 600px) {
  //   margin: 0 1em 2em;
  // }

  &:hover {
    text-decoration: none;
  }
}
.disableBtn{
  background: gray;
    box-shadow: 0 .242vw #10134a;
    border-radius: 5.091vw;
    width: 100%;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 0.818vw;
    cursor: not-allowed;
}

// Button-4 with auto effect
.btn_effect {
  border: 1px solid;
  overflow: hidden;
  position: relative;
  width: 100%; 
  max-width: 300px;
  span {
    z-index: 20;
  }

  &:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: -10;
    animation: slide 2s infinite; // Add animation
  }
}

// Define the animation keyframes
@keyframes slide {
  0% {
    left: -75px;
  }
  100% {
    left: 120%;
  }
}
