.modal_container {
  width: 35.152vw;
  height: auto;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://assets.gamingarcade.io/Assets/modalBg.webp");
   background: linear-gradient(188.01deg, #c9006d 0.73%, #0066ff 94.65%); 
  box-shadow: 0vw 0.485vw 0.97vw rgba(27, 27, 27, 0.3);
  backdrop-filter: blur(2.424vw);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 1.818vw;
  padding: 1.212vw;
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background: hsla(0, 0%, 100%, 0.047);
  box-shadow: 0vw 0.485vw 0.97vw rgba(27, 27, 27, 0.3);
  backdrop-filter: blur(4px);
}

.modal_content {
  background: hsla(0, 0%, 100%, 0.047);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.081);
  backdrop-filter: blur(4px);
  border-radius: 30px;
  border: 1px solid hsla(0, 0%, 100%, 0.18);

  background-image: url("https://assets.gamingarcade.io/Assets/modalBg.webp");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  padding: 20px;
  position: relative;
  max-width: 35.152vw;
  width: 100%;
}
